body
{
    margin: 0;
    padding: 0;
    color: black;
    font-size: 12px;
    background: lightgray;
    width: 100%;
}

.logo
{
    text-align: center;
    font-size: 20px;
    font-family: 'Otomanopee One', sans-serif;
    margin-bottom: 40px;
}

.logo a
{
    text-decoration: none;
    color: inherit;
}

.logo img
{
    display: block;
    margin: 0 auto 0 auto;
    width: 5%;
}   


.lesson
{
    min-height: 1000px;
    text-align: center;
}

footer
{
    clear: both;
    text-align: center;
    border: solid darkgray 2px;
    background: #f7f7f7;
}

/* Lessons code is beneath this line */

.d1{background:LightSkyBlue;
    justify-self: center;
    /*horizontal*/
    align-self: center;
    /*vertical*/
    grid-area: footer;
}
.d2{background:LightSalmon;}
.d3{background:PaleTurquoise;
grid-area: 2/1/3/2;
/*grid-area: horizontal line to start at / vertical line to start at / horizontal line to end at / vertical line to end at;
*/}
.d4{background:LightPink;
}
.d5{background:PaleGreen;
    grid-column: 2/4;
    grid-row: 2/4;
}

.container 
{
    font-size: 40px;
    width: 100%;
    background: gray;
    display: grid;
    grid-template-columns: 250px 2fr 1fr;
    /*The number of parameters given to the grid-template-columns property indicates the number of columns in the grid*/
    grid-template-rows: repeat(3/*auto-fill/auto-fit*/, minmax(100px, 1fr));
    grid-gap: 5px 10px;
    /*justify-items: end;
    align-items: end;*/
    grid-template-areas:
  "header header header"
  "content content content"
  "footer . .";

}