body
{
    margin: 0;
    padding: 0;
    color: black;
    font-size: 12px;
    background: lightgray;
    width: 100%;
}

.logo
{
    text-align: center;
    font-size: 20px;
    font-family: 'Otomanopee One', sans-serif;
    margin-bottom: 40px;
}

.logo a
{
    text-decoration: none;
    color: inherit;
}

.logo img
{
    display: block;
    margin: 0 auto 0 auto;
    width: 5%;
}   


.lesson
{
    min-height: 1000px;
    text-align: center;
}

footer
{
    clear: both;
    text-align: center;
    border: solid darkgray 2px;
    background: #f7f7f7;
}

/* Lessons code is beneath this line */